Code: 
<br>

<form action='<%= repl_url %>' method='GET'>
  <%= auth_token %>
    Your solution:
    <br>
    <textarea name='problem_solution[content]'
      rows="8" cols="60">
      <%= @code %>
    </textarea>

    
  <input type='submit' value='Submit'>
</form>

<p>Result: <%= @result %></p>

<%= link_to 'Problems', problems_url %>