<div class='solution-header'>
  <% if (includeProblemLink) { %>
    <span class='right-margined'>
      <a href='#/problems/<%= solution.escape('problem_id') %>'>
        <%= solution.escape('problem_title') %>
      </a>
    </span>
  <% } %>

  <% if (!removeSubmitter) { %>
    <span style='margin-right: 5px;'>
      Submitted by:
      <a href='#/users/<% solution.escape('submitter') %>'>
        <%= solution.escape('submitter') %>
      </a>
    </span>
  <% } %>


  <span>
    <a href='#' class='upvote'>upvote</a>
    <span style='font-size:14px;' class='num-upvotes'>(<%= solution.escape('upvotes') %>)</span>

  </span>
</div>
<div id='solution-<%= solution.id %>' class='read-editor'><%= solution.escape('content') %></div>
