<!DOCTYPE html>

<html>
<head>
  <title>Links</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= flash[:status] %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">bitiom</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <% if signed_in? %>
          <li><a href='#/users/2'><%= current_user.username%></a></li>
          <!-- <li><a href='/session'>Sign Out</a></li> -->
          <li><%= link_to 'Sign Out', session_url, method: :delete %></li>

          <li><a href='#/'>Problems</a></li>
        <% else %>
          <li><a href='/session/new'>Sign In</a></li>
          <li><a href='/users/new'>Sign Up</a></li>
        <% end %>
      </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <%= flash[:errors].join('<br>').html_safe if flash[:errors].present? %>
  <div class='container'>
    <div class='row'>
      <div id='content'>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
